
.yt-player-page{
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.left-part-yt{
    padding-top: 30px;
    width: 60vw;
    box-sizing: border-box;
    border: 1px solid red;
}
.right-part-yt{
    width: 40vw;
    box-sizing: border-box;
    border: 1px solid green;
}
